black==24.8.0

flake8==7.1.1

hatch==1.12.0

httpie==3.2.3

ipython==8.26.0

isort==5.13.2

mypy==1.11.2

pdm==2.18.1

pip==24.2

pipx==1.7.1

poetry==1.8.3

pre-commit==3.8.0

ptpython==3.0.29

pylint==3.2.7

supervisor==4.2.5
