black==25.9.0

flake8==7.3.0

hatch==1.14.2

httpie==3.2.4

httpx[cli]==0.28.1

ipython==9.6.0

isort==7.0.0

mypy==1.18.2

pdm==2.26.0

pip==25.2

pipx==1.8.0

poetry==2.2.1

pre-commit==4.3.0

ptpython==3.0.31

pylint==4.0.1

pyupgrade==3.21.0

supervisor==4.3.0
