black==25.11.0

flake8==7.3.0

hatch==1.15.1

httpie==3.2.4

httpx[cli]==0.28.1

ipython==9.7.0

isort==7.0.0

mypy==1.18.2

pdm==2.26.1

pip==25.3

pipx==1.8.0

poetry==2.2.1

pre-commit==4.4.0

ptpython==3.0.31

pylint==4.0.3

pyupgrade==3.21.2

supervisor==4.3.0
